<md-dialog aria-label="Select File" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate="">Select File</h2>
            <span flex></span>
            <md-button 
                class="md-icon-button" 
                ng-click="answer(config)">
                <wb-icon aria-label="Done">done</wb-icon>
            </md-button>
            <md-button 
                class="md-icon-button" 
                ng-click="cancel()">
                <wb-icon aria-label="close">close</wb-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" layout-padding>
        <form 
            name="contentForm"
            ng-action="ctrl.upload(config)"
            mb-preloading="ctrl.uploading"
            layout-margin
            layout="column"
            flex>
            <md-input-container>
                <lf-ng-md-file-input 
                    lf-files="config.files" 
                    progress preview drag required></lf-ng-md-file-input>
                <div ng-messages="!lf-files.file[0]">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>
        </form>
    </md-dialog-content>
</md-dialog>

