<div 
    layout-padding
    layout="column">
    <md-input-container>
        <label translate="">URL of site</label>
        <input ng-model="ctrl.url"
               ng-change="ctrl.urlChanged()"
               ng-model-options="{updateOn: 'change blur'}">
    </md-input-container>
</div>