<a ng-if="ctrl.editable">
    <img
        width="100%"
        height="100%"
        ng-src="https://traffic.alexa.com/graph?o=lt&y=t&b=ffffff&n=666666&f=999999&p=4e8cff&r=1y&t=2&z=30&c=1&h=150&w=340&u={{ctrl.url}}"/>
</a>

<a ng-if="!ctrl.editable"
    ng-href="https://www.alexa.com/siteinfo/{{ctrl.url}}">
    <img
        width="100%"
        height="100%"
        ng-src="https://traffic.alexa.com/graph?o=lt&y=t&b=ffffff&n=666666&f=999999&p=4e8cff&r=1y&t=2&z=30&c=1&h=150&w=340&u={{ctrl.url}}"/>
</a>