<div
	layout="column"
	flex>
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-properties="ctrl.properties"
		mb-reload="ctrl.reload()"
		mb-more-actions="ctrl.getActions()">
	</mb-pagination-bar>
	<md-content
		mb-preloading="ctrl.state === 'busy'"
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="column"
		flex>
		<md-list>
			<md-list-item 
				ng-repeat="object in ctrl.items track by object.id"
				ng-href="seo/crawled-links/{{object.id}}/render"
				class="md-3-line">
				<wb-icon>donut_small</wb-icon>
				<div 
					class="md-list-item-text" 
					layout="column">
					<h3>{{object.title}}</h3>
					<h4>{{object.url}}</h4>
					<p>{{object.description}}</p>
				</div>
				<md-button 
					class="md-icon-button"
					ng-click="ctrl.upload(object)" 
					aria-label="Upload content">
					<wb-icon>cloud_upload</wb-icon>
				</md-button>
				<md-button 
					class="md-icon-button" 
					aria-label="Download content"
					ng-href="/api/v2/seo/contents/{{object.id}}/content"
					target="_blank" 
					download="{{object.file_name}}">
					<wb-icon>cloud_download</wb-icon>
				</md-button>
				<md-button 
					class="md-icon-button"
					ng-href="{{object.url}}"
					aria-label="Render content">
					<wb-icon>open_in_browser</wb-icon>
				</md-button>
				<md-button 
					class="md-icon-button"
					ng-click="ctrl.deleteItem(object)" 
					aria-label="Delete content">
					<wb-icon>delete</wb-icon>
				</md-button>
				<md-divider md-inset></md-divider>
			</md-list-item>
		</md-list>
	
		<div
			layout="column"
			layout-align="center center"
			ng-show="ctrl.state !== 'busy' && ctrl.items && ctrl.items.length === 0">
			<h2 translate>Empty crawled links</h2>
			<p translate>There is no link in crawled list. This means that no crawler has requested your site.</p>
		</div>
	</md-content>
</div>


