<md-content 
	class="md-padding"
	layout-padding
	flex>
	<form 
		name="linkForm"
		ng-submit="addLink(model)"
		mb-preloading="ctrl.saving"
		layout-margin
	 	layout="column" 
		flex>
		<md-input-container>
			<label translate>Title</label>
			<input ng-model="model.title">
		</md-input-container>
		<md-input-container>
			<label translate>Description</label>
			<input ng-model="model.description">
		</md-input-container>
		<md-input-container>
			<label translate>Link (loc)</label>
			<input name="loc" ng-model="model.loc" type="url" required>
			<div ng-messages="linkForm.loc.$error">
		    	<div ng-message="required">{{'This field is required.' | translate}}</div>
		    	<div ng-message="url">{{'URL is not valid.' | translate}}</div>
		    </div>
		</md-input-container>
		<md-input-container>
			<label translate>Last Modification</label>
			<md-datepicker ng-model="myDate"
				md-hide-icons="calendar" 
				ng-change="model.lastmod = formatDate(myDate)"></md-datepicker>
		</md-input-container>
		<md-input-container>
			<label translate>Change Frequency</label>
			<md-select ng-model="model.changefreq">
              <md-option ng-repeat="item in changeFrequencies" value="{{item.value}}">
                {{item.title}}
              </md-option>
            </md-select>
		</md-input-container>
		<md-input-container>
			<label translate>Priority</label>
			<input name="priority" type="number" 
				ng-model="model.priority" 
				min="0.0" max="1.0" step="0.01">
			<div ng-messages="linkForm.priority.$error">
		    	<div ng-message="min">{{'Minimum value is 0.0.' | translate}}</div>
		    	<div ng-message="max">{{'Maximum value is 1.0.' | translate}}</div>
		    </div>
		</md-input-container>
	
		<div layout="row">
			<span flex></span>
			<md-button 
				class="md-raised" 
				ng-click="cancel()">
				<wb-icon aria-label="close">close</wb-icon>
				<span translate>Cancle</span>
			</md-button>
			<md-button 
				class="md-raised" 
				ng-disabled="linkForm.$invalid"
				ng-click="addLink(model)">
				<wb-icon aria-label="close">done</wb-icon>
				<span translate>Add</span>
			</md-button>
		</div>
	</form>
</md-content>
